<div class="modal-content">
  <div class="modal-header">
    <h3 class="col-12 text-center">Create new account</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span class="black-text" aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <form [formGroup]="signUpForm" (ngSubmit)="onSignUpSubmit()">
          <div class="form-group">
            <label for="email">Email adress</label>
            <input type="text" id="email" class="form-control" formControlName="email">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.email">Bad format</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" formControlName="password">
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.pattern">Password must contains at least 6 alpha numeric characters</div>
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Validate</button> 
        </form>
      </div>
    </div>
  </div>
</div>